USE [master]
GO
/****** Object:  Database [TestDB]    Script Date: 03/06/2021 14:26:33 ******/
CREATE DATABASE [TestDB] ON  PRIMARY 
( NAME = N'TestDB', FILENAME = N'F:\jsonlee\study\db\TestDB.mdf' , SIZE = 61440KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TestDB_log', FILENAME = N'F:\jsonlee\study\db\TestDB_log.ldf' , SIZE = 265344KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestDB]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 03/06/2021 14:26:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Student](
	[AutoID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[Age] [int] NULL,
	[Birthday] [datetime] NULL,
	[AutoTimeStamp] [datetime] NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[AutoID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'姓名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Student', @level2type=N'COLUMN',@level2name=N'UserName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'年龄' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Student', @level2type=N'COLUMN',@level2name=N'Age'
GO
SET IDENTITY_INSERT [Student] ON
INSERT [Student] ([AutoID], [UserName], [Age], [Birthday], [AutoTimeStamp]) VALUES (1, N'刘备', 38, CAST(0x0000816300000000 AS DateTime), CAST(0x0000ACA300000000 AS DateTime))
INSERT [Student] ([AutoID], [UserName], [Age], [Birthday], [AutoTimeStamp]) VALUES (2, N'张飞', 33, CAST(0x0000816300000000 AS DateTime), CAST(0x0000ACA300000000 AS DateTime))
INSERT [Student] ([AutoID], [UserName], [Age], [Birthday], [AutoTimeStamp]) VALUES (3, N'张飞', 36, CAST(0x0000816300000000 AS DateTime), CAST(0x0000ACA300000000 AS DateTime))
SET IDENTITY_INSERT [Student] OFF
/****** Object:  Default [DF_Students_AutoTimeStamp]    Script Date: 03/06/2021 14:26:34 ******/
ALTER TABLE [Student] ADD  CONSTRAINT [DF_Students_AutoTimeStamp]  DEFAULT (getdate()) FOR [AutoTimeStamp]
GO
